<main class="main">
  <h1>離乳食</h1>
  
  <div class="baby-food-section">
    <h2 class="baby-food-section-bar">スタートの目安</h2>
    <div class="baby-food-area">
      <ul>
          <li>生後5、6ヶ月になった</li>
          <li>スプーンを嫌がらない</li>
          <li>大人が食事をしているときに、口をパクパクさせて食べている真似をするようになった</li>
      </ul>
      <p class="button">check</p>
    </div>
  </div>
  
  <div class="baby-food-section">
    <h2 class="baby-food-section-bar">注意点</h2>
    <div class="baby-food-area">
      <ul>
        <li>初めて与える食材は1日1回1種類まで</li>
        <li>初めて食べる食材は平日の午前中に与える（アレルギーを発症したときに病院を受診できるように）</li>
        <li>様子を見ながら食材を増やしていく</li>
      </ul>
      <p class="button">check</p>
    </div>
  </div>
  <div class="only-pc">
    <div class="baby-food-section ">
      <h2 class="baby-food-section-bar">4つのステップ</h2>
      <div class="baby-food-area" >
        <div class="baby-food-section-step">
          <div class="step">
            <p>初期</p>
            <p>生後5〜6ヶ月</p>
          </div>
          <span>▶︎</span>
          <div class="step">
            <p>中期</p>
            <p>生後7〜8ヶ月</p>
          </div>
          <span>▶︎</span>
          <div class="step">
            <p>後期</p>
            <p>生後9〜11ヶ月</p>
          </div>
          <span>▶︎</span>
          <div class="step">
            <p>完了期</p>
            <p>生後1歳〜1歳6ヶ月</p>
          </div>
        </div>
        <p class="button">check</p>
      </div>
    </div>
    
    <div class="baby-food-section">
      <h2 class="baby-food-section-bar">初期</h2>
      <p>生後5〜6ヶ月</p>
      <div class="baby-food-area">
        <div class="baby-food-container">
          <h3>ポイント</h3>
          <ul>
            <li>1日1回(1ヶ月経ったら1日2回へ)</li>
            <li>なめらかにすりつぶした食べ物を飲み込んで食べる</li>
            <li>固さはポタージュくらいが目安</li>
          </ul>
        </div>
        <div class="baby-food-container">
          <h3>1日のスケジュール例</h3><br />
          <table border="1" class="table" align="center" cellpadding="5px" bgcolor="#ffffff" >
            <tr>
              <td>6:00</td>
              <td>🤱🍼</td>
              <td>🤱🍼</td>
            </tr>
            <tr>
              <td>10:00</td>
              <td>🥄＋🤱🍼</td>
              <td>🥄＋🤱🍼</td>
            </tr>
            <tr>
              <td>14:00</td>
              <td>🤱🍼</td>
              <td>🥄＋🤱🍼</td>
            </tr>
            <tr>
              <td>18:00</td>
              <td>🤱🍼</td>
              <td>🤱🍼</td>
            </tr>
            <tr>
              <td>22:00</td>
              <td>🤱🍼</td>
              <td>🤱🍼</td>
            </tr>
          </table>
          <p>🤱🍼母乳・ミルク　🥄離乳食</p>
        </div>
        <p class="button">check</p>
      </div>
    </div>
    
    <div class="baby-food-section">
      <h2 class="baby-food-section-bar">中期</h2>
      <p>生後7〜8ヶ月</p>
      <div class="baby-food-area">
        <div class="baby-food-container">
          <h3>ポイント</h3>
          <ul>
            <li>1日2回</li>
            <li>柔らかい粒状のものを舌で潰して食べる</li>
            <li>固さは豆腐くらいが目安</li>
          </ul>
        </div>
        <div class="baby-food-container">
          <h3>1日のスケジュール例</h3><br />
          <table border="1" class="table" align="center" cellpadding="5px" bgcolor="#ffffff">
            <tr>
              <td>6:00</td>
              <td>🤱🍼</td>
            </tr>
            <tr>
              <td>10:00</td>
              <td>🥄＋🤱🍼</td>
            </tr>
            <tr>
              <td>14:00</td>
              <td>🥄＋🤱🍼</td>
            </tr>
            <tr>
              <td>18:00</td>
              <td>🤱🍼</td>
            </tr>
            <tr>
              <td>22:00</td>
              <td>🤱🍼</td>
            </tr>
          </table>
          <p>🤱🍼母乳・ミルク　🥄離乳食</p>
        </div>
        <p class="button">check</p>
      </div>
    </div>
    
    <div class="baby-food-section">
      <h2 class="baby-food-section-bar">後期</h2>
      <p>生後9〜11ヶ月</p>
      <div class="baby-food-area">
        <div class="baby-food-container">
          <h3>ポイント</h3>
          <ul>
            <li>1日3回</li>
            <li>奥の歯ぐきで食べ物を潰して食べる</li>
            <li>固さはバナナくらいが目安</li>
          </ul>
        </div>
        <div class="baby-food-container">
          <h3>1日のスケジュール例</h3><br />
          <table border="1" class="table" align="center" cellpadding="5px" bgcolor="#ffffff">
            <tr>
              <td>6:00</td>
              <td>🤱🍼</td>
            </tr>
            <tr>
              <td>10:00</td>
              <td>🥄＋🤱🍼</td>
            </tr>
            <tr>
              <td>14:00</td>
              <td>🥄＋🤱🍼</td>
            </tr>
            <tr>
              <td>18:00</td>
              <td>🥄＋🤱🍼</td>
            </tr>
            <tr>
              <td>22:00</td>
              <td>🤱🍼</td>
            </tr>
          </table>
          <p>🤱🍼母乳・ミルク　🥄離乳食</p>
        </div>
        <p class="button">check</p>
      </div>
    </div>
    
    <div class="baby-food-section">
      <h2 class="baby-food-section-bar">完了期</h2>
      <p>生後1歳〜1歳6ヶ月</p>
      <div class="baby-food-area">
        <div class="baby-food-container">
          <h3>ポイント</h3>
          <ul>
            <li>1日3回＋間食</li>
            <li>手づかみ食べなどで一口の量を覚えていく</li>
            <li>固さは肉団子くらいが目安</li>
          </ul>
        </div>
        <div class="baby-food-container">
          <h3>1日のスケジュール例</h3><br />
          <table border="1" class="table" align="center" cellpadding="5px" bgcolor="#ffffff">
            <tr>
              <td>6:00</td>
              <td>🥄</td>
            </tr>
            <tr>
              <td>10:00</td>
              <td>🍘</td>
            </tr>
            <tr>
              <td>14:00</td>
              <td>🥄</td>
            </tr>
            <tr>
              <td>18:00</td>
              <td>🍘</td>
            </tr>
            <tr>
              <td>22:00</td>
              <td>🥄</td>
            </tr>
          </table>
          <p>🥄離乳食 🍘おやつ</p>
        </div>
        <p class="button">check</p>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "home.js" %>
</main>